<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085768818367-q96o87nqtueh5lvtucnsdcvi62tb7qk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085768818367-q96o87nqtueh5lvtucnsdcvi62tb7qk1</string>
	<key>API_KEY</key>
	<string>AIzaSyCHQKJFxbj-AMqcq0gOjxTacG4AEnU9MgI</string>
	<key>GCM_SENDER_ID</key>
	<string>1085768818367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kelcompany.app.codigo</string>
	<key>PROJECT_ID</key>
	<string>mypasswordskel</string>
	<key>STORAGE_BUCKET</key>
	<string>mypasswordskel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085768818367:ios:6be3cdb4e907ccb6eef00a</string>
</dict>
</plist>